body {
    margin: 0;
    padding: 0;
    color: azure;
    font-size: 3em;
    font-family: Arial;
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

